{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "no-alert": "error",
    "no-debugger": "error",
    "no-console": ["error", {"allow": ["warn", "error"]}],
    "linebreak-style": [2, "unix"],
    "semi": ["error", "never"],
    "indent": ["error", 2, { "VariableDeclarator": { "var": 2, "let": 2, "const": 3 } }],
    "id-length": [2, {"min": 3, "properties": "never", "exceptions": ["a", "b", "c", "e", "i", "j", "k", "n", "r", "x", "y", "z", "_", "cb", "cx", "el", "fs", "id", "ul", "li", "sb"]}],
    "arrow-parens": ["error", "as-needed", { "requireForBlockBody": true }],
    "arrow-body-style": ["error", "as-needed", { "requireReturnForObjectLiteral": false }],
    "newline-after-var": ["error", "always"],
    "no-multi-spaces": "error",
    "space-infix-ops": ["error", {"int32Hint": false}],
    "space-before-function-paren": ["error", "always"],
    "space-in-parens": ["error", "always"],
    "array-bracket-spacing": ["error", "always", { "singleValue": false, "objectsInArrays": false, "arraysInArrays": false }],
    "object-curly-spacing": ["error", "always", { "objectsInObjects": false, "arraysInObjects": false }],
    "keyword-spacing": ["error", { "after": true }],
    "no-unused-vars": ["error", { "args": "none", "varsIgnorePattern": "React" }],
    "comma-style": ["error", "last"],
    "comma-spacing": ["error", { "before": false, "after": true }],
    "comma-dangle": ["error", {
      "arrays": "never",
      "objects": "never",
      "imports": "never",
      "exports": "never",
      "functions": "never"
    }],

    "react/react-in-jsx-scope": "error",
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react/jsx-tag-spacing": ["error", {"beforeSelfClosing": "always"}],
    "react/jsx-max-depth": ["error", { "max": 9 }],
    "react/jsx-curly-spacing": ["error", {"when": "always", "attributes": true, "children": true, "allowMultiline": true, "spacing": {"objectLiterals": "always"}}]
  },
  "parserOptions": {
    "ecmaFeatures": {
      "legacyDecorators": true
    }
  }
}