@use 'colors' as *;

$header-font-name: 'Poppins';
$body-font-name: 'Noto Sans';

$font-size: 16px;

$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

$text-color: $primary !default;
