$min-width: 1300px;

* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16pt;
}

body {
  background: white;
}

li {
  margin-left: 1em;
}

.app {
  article.main-content {
    max-width: $min-width;
    margin: 0 auto;
    padding: 55px 2em;
    background: cyan;
  }

  section {
    margin-top: 1em;
    margin-bottom: 2em;
    padding: 2em;
    border: 1px solid black;
    background: pink;
    box-shadow: 10px 10px 5px #888;
  }

  footer.footer {
    height: 100px;
    padding-top: 1em;

    a {
      color: blue;
    }

    a:visited {
      color: blue;
    }

    .center {
      float: right;
      position: relative;
      left: -50%; /* or right 50% */
      text-align: left;
    }
    .center > .foot-links {
      position: relative;
      left: 50%;
    }
    .clear {
      clear: both;
    }

  }
}
