@import 'colors';

/*-------------------
      Base Sizes
--------------------*/

/* This is the single variable that controls them all */
$emSize   : 14px;

/* The size of page text  */
$fontSize : 14px;

$relative4px : em(4/$emSize);
$relative11px : em((11 / $emSize));

/*-------------------
    Border Radius
--------------------*/

/* See Power-user section below
   for explanation of $px variables
*/
$relativeBorderRadius: $relative4px;
$absoluteBorderRadius: 4px;

$defaultBorderRadius: $absoluteBorderRadius;

/*-------------------
    Brand Colors
--------------------*/

$primaryColor        : $blue;
$secondaryColor      : $black;

$lightPrimaryColor   : $lightBlue;
$lightSecondaryColor : $lightBlack;



$inputVerticalPadding   : $relative11px;

@mixin fluid-type($min-font, $max-font, $min-screen, $max-screen) {
    font-size: calc($min-font + #{strip-unit($max-font - $min-font)} * (100vw - $min-screen) / #{strip-unit($max-screen - $min-screen)});
}

@function strip-unit($number) {
    @if type-of($number) == "number" and not unitless($number) {
      @return $number / ($number * 0 + 1);
    }
  
    @return $number;
}
  
:root {
    @include fluid-type(16px, 24px, 400px, 800px);
}