<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="1.style.css">
</head>
<body>
  <ul>
    <li>1st child</li>
    <li>2nd child</li>
    <li>3rd child</li>
    <li>4th child</li>
  </ul>
  <!-- <section class="child-1">
    <div class="content">
      <h2>Section 1</h2>
      <p>Lorem ipsum dolor siamet consectetur adipisicing elit. Assumenda obcaecati ad beatae qui consequuntur, aperiam illo excepturi impedit ipsa, necessitatibus tempora deserunt quod doloribus eveniet doloremque facere alias? Necessitatibus, assumenda!</p>
    </div>
  </section>

  <section class="child-2">
    <div class="content">
      <h2>Section 2</h2>
      <p>Lorem ipsum dolor siamet consectetur adipisicing elit. Assumenda obcaecati ad beatae qui consequuntur, aperiam illo excepturi impedit ipsa, necessitatibus tempora deserunt quod doloribus eveniet doloremque facere alias? Necessitatibus, assumenda!</p>
    </div>
  </section>

  <section class="child-3">
    <div class="content">
      <h2>Section 3</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda obcaecati ad beatae qui consequuntur, aperiam illo excepturi impedit ipsa, necessitatibus tempora deserunt quod doloribus eveniet doloremque facere alias? Necessitatibus, assumenda!</p>
    </div>
  </section> -->
</body>
</html>