.lifecycle {
  fieldset + fieldset {
    margin-top: 1em;
  }
  
  .title {
    text-align: center;
  }
  .counter {
    margin: 0 auto;
  }

  .list {
    margin-top: 2em;
    text-align: center;
  }
}