.hot-reload {
  p {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .devOnly {
    color: grey;
  }
  .instruction {
    font-style: italic;
    color: grey;
  }
  input[type='text'] {
    margin-bottom: 1em;
  }
  .comment {
    font-size: 110%;
  }
  .comment:before {
    content: 'p.s. ';
    color: red;
  }
}
